* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored

*.gitattributes text
.gitignore      text
*.md            text

.gitattributes  export-ignore
.gitignore      export-ignore
