<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>密码修改</title>
<script type="text/javascript" language="javascript" src="<!--{$RES_WEBPATH_PREF}-->dpa_html/gfunc.js"></script>
<script type="text/javascript" language="javascript" src="<!--{$RES_WEBPATH_PREF}-->dpa_html/JSLib/JSFunc.js"></script>
<script type="text/javascript" language="javascript" src="<!--{$RES_WEBPATH_PREF}-->dpa_html/JSLib/LibFunc.js"></script>
<script type="text/javascript" language="javascript" src="<!--{$RES_WEBPATH_PREF}-->dpa_html/JSLib/LibPrj.js"></script>
<script type="text/javascript" language="javascript" src="<!--{$RES_WEBPATH_PREF}-->dpa_html/JSLib/typeset.js"></script>
<script type="text/javascript" language="javascript" src="<!--{$RES_WEBPATH_PREF}-->dpa_html/JSLib/LibDoc.js"></script>
<script language="javascript" src="<!--{$RES_WEBPATH_PREF}-->dpa_html/JSLib/HTMLEditor.js"></script>
<link rel="stylesheet" href="<!--{$RES_WEBPATH_PREF}-->dpa_html/css/List.css" />
<link rel="stylesheet" href="<!--{$RES_WEBPATH_PREF}-->dpa_html/htmleditor/js/edit.css">
<script type="text/javascript" language="javascript" src="<!--{$RES_WEBPATH_PREF}-->dpa_html/htmleditor/js/WebUIValidation.js"></script>
<script type="text/vbscript"   language="vbscript"   src="<!--{$RES_WEBPATH_PREF}-->dpa_html/JSLib/checkrepeatnews.vbs"></script>
<script type="text/javascript" language="javascript" src="<!--{$RES_WEBPATH_PREF}-->dpa_html/JSLib/checkrepeatnews.js"></script>
</head>
<body>
<table class="tr_font" border="0" width="100%" cellspacing="0" cellpadding="3">
  <tr>
    <td width="50%" nowrap="nowrap" align="left">修改密码</td>
  </tr>
</table>
<hr size="1" />
<form id='form_su' action="?do=pasword_edit" method="post">
  <input type="hidden" name="do" value="pasword_edit" />
  <table width='100%' cellpadding="3" cellspacing='0'>
    <tr>
      <td>旧密码：</td>
      <td><input type="password" name="password_o" id='password_o' /></td>
    </tr>
    <tr>
      <td>新密码：</td>
      <td><input type="password" name="password" id='password' /></td>
    </tr>
    <tr>
      <td>确认密码：</td>
      <td><input type="password" name="password_c" id='password_c' /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" onclick="checkPassword()"  value="修改" /></td>
    </tr>
  </table>
</form>
<script>
function checkPassword(){

	var p0=document.getElementById('password_o').value;
	var p1=document.getElementById('password').value;
	var p2=document.getElementById('password_c').value;

	if(p0==null||p0==''){
		alert('请输入旧密码');	return;
		}

		if(p1==null||p2==''){
			alert('请输入新密码');	return;

		}

	if(p1!=p2){
		alert('输入的密码不一致');	return;

		}else{
			//alert('ssss');
			document.getElementById('form_su').submit();
			//alert('sss');
			return true;
		}
	}
</script>
<script language="javascript" type="text/javascript" src="<!--{$RES_WEBPATH_PREF}-->dpa_html/My97DatePicker/WdatePicker.js"></script>
<script language="javascript" src="<!--{$RES_WEBPATH_PREF}-->dpa_html/dataShow/datetime.js"></script>
</body>
</html>
