A:link
{
    COLOR: #092094;
    TEXT-DECORATION: underline
}
A:visited
{
    COLOR: #092094;
    TEXT-DECORATION: underline
}
A:active
{
    COLOR: #092094;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: #092094;
    TEXT-DECORATION: none
}
.bdrHeader
{
    BORDER-BOTTOM: black 1px solid;
    BORDER-LEFT: white 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: white 1px solid
}
.bdrBody
{
    BORDER-BOTTOM: black 1px solid;
    BORDER-LEFT: white 1px solid;
    BORDER-RIGHT: black 1px solid
}
.tdContent
{
    COLOR: #092094;
    FONT-SIZE: 14px
}
.normtd
{
    BACKGROUND-COLOR: #111565;
    BORDER-BOTTOM: #deebff 2px groove;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    WIDTH: 350px
}
.uptd
{
    BACKGROUND-COLOR: #6699cc;
    BORDER-BOTTOM: #6699cc 1px groove;
    BORDER-LEFT: white 1px ridge;
    BORDER-RIGHT: #6699cc 1px double;
    BORDER-TOP: #6699cc 3px double;
    COLOR: #ecfa02;
    CURSOR: hand;
    TEXT-ALIGN: center;
    WIDTH: 80px
}
.downtd
{
    BACKGROUND-COLOR: #111565;
    BORDER-BOTTOM: #deebff 1px groove;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: #6699cc 1px double;
    BORDER-TOP: medium none;
    COLOR: #dcffff;
    CURSOR: hand;
    TEXT-ALIGN: center;
    WIDTH: 82px;
    valign: bottom
}
.bottomtd
{
    BACKGROUND-COLOR: #6699cc;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: darkblue 1px groove;
    BORDER-RIGHT: darkblue 1px groove;
    BORDER-TOP: #639ace 3px double;
    COLOR: darkblue
}
.lefttd
{
    BORDER-LEFT: darkblue 1px groove
}
BUTTON
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: darkblue 1px solid;
    BORDER-LEFT: darkblue 1px solid;
    BORDER-RIGHT: darkblue 1px solid;
    BORDER-TOP: darkblue 1px solid;
    COLOR: navy;
    CURSOR: hand;
    FONT-SIZE: 9pt;
    HEIGHT: 22px;
    WIDTH: 80px
}
.chngbutton
{
    BACKGROUND-COLOR: #00b8fd;
    BORDER-BOTTOM: darkblue 1px solid;
    BORDER-LEFT: darkblue 1px solid;
    BORDER-RIGHT: darkblue 1px solid;
    BORDER-TOP: darkblue 1px solid;
    COLOR: #ffffff;
    FONT-SIZE: 9pt;
    HEIGHT: 22px;
    WIDTH: 80px
}
.toptd
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: white 1px solid;
    COLOR: #dcfffe;
    FONT-SIZE: 14px;
    TEXT-ALIGN: center
}
.noborder
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none
}
.ButtonNormal
{
    BORDER-BOTTOM: #b7d6ff 0px solid;
    BORDER-LEFT: #b7d6ff 0px solid;
    BORDER-RIGHT: #b7d6ff 0px solid;
    BORDER-TOP: #b7d6ff 0px solid;
    COLOR: white;
    CURSOR: hand;
    FONT-FAMILY: verdana;
    FONT-SIZE: 14px;
    LETTER-SPACING: -0.5pt;
    LINE-HEIGHT: 24px;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 0px;
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: middle;
    WIDTH: 70px
}
.ButtonUp
{
    BORDER-BOTTOM: #333366 1px solid;
    BORDER-LEFT: white 1px solid;
    BORDER-RIGHT: #333366 1px solid;
    BORDER-TOP: white 1px solid;
    COLOR: white;
    CURSOR: hand;
    FONT-FAMILY: verdana;
    FONT-SIZE: 14px;
    HEIGHT: 0pt;
    LETTER-SPACING: -0.5pt;
    LINE-HEIGHT: 24px;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 0px;
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: middle;
    WIDTH: 70px
}
.ButtonDown
{
    BORDER-BOTTOM: white 1px solid;
    BORDER-LEFT: #333366 1px solid;
    BORDER-RIGHT: white 1px solid;
    BORDER-TOP: #333366 1px solid;
    COLOR: #0000a0;
    CURSOR: hand;
    FONT-FAMILY: verdana;
    FONT-SIZE: 14px;
    LETTER-SPACING: -0.5pt;
    LINE-HEIGHT: 24px;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 0px;
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: middle;
    WIDTH: 70px
}
.TdNav{
	font-size:16px;
	border-top:#deebff 2px groove;
	border-right:#deebff 2px groove;
	border-bottom: #deebff 2px groove;
	border-left:#deebff 2px groove;
}
