STYLE BODY
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    FONT-SIZE: 1em;
    LINE-HEIGHT: 1em
}
.mnContainer
{
    BACKGROUND-COLOR: #bcdaf4;
    LEFT: 1px;
    POSITION: relative;
    TOP: 0px;
    Z-INDEX: 2
}
.mnSection
{
    BACKGROUND-COLOR: #bcdaf4;
    POSITION: absolute;
    WIDTH: 116px
}
.mnTitle
{
    BACKGROUND-COLOR: #5e9acc;
    BORDER-BOTTOM: #000000 solid 0px;
    BORDER-LEFT: #ffffff solid 0px;
    BORDER-RIGHT: #000000 solid 0px;
    BORDER-TOP: #ffffff solid 0px;
    COLOR: #000000;
    CURSOR: hand;
    FONT-FAMILY: Trebuchet MS;
    FONT-SIZE: 8pt;
    HEIGHT: 23px;
    POSITION: absolute;
    TEXT-ALIGN: center;
    WIDTH: 116px
}
.mnItem
{
    BACKGROUND-COLOR: #bcdaf4;
    BORDER-BOTTOM: #bcdaf4 solid 0px;
    BORDER-LEFT: #307abf solid 0px;
    BORDER-RIGHT: #307abf solid 0px;
    BORDER-TOP: #bcdaf4 solid 0px;
    COLOR: #10218b;
    CURSOR: hand;
    FONT-FAMILY: Trebuchet MS;
    FONT-SIZE: 8pt;
    HEIGHT: 23px;
    POSITION: absolute;
    TEXT-ALIGN: left;
    WIDTH: 116px
}
.mnItemHot
{
    BACKGROUND-COLOR: #d8fff6;
    BORDER-BOTTOM: #000000 solid 1px;
    BORDER-LEFT: #ffffff solid 1px;
    BORDER-RIGHT: #000000 solid 1px;
    BORDER-TOP: #ffffff solid 1px;
    COLOR: green;
    CURSOR: hand;
    FONT-FAMILY: Trebuchet MS;
    FONT-SIZE: 8pt;
    HEIGHT: 23px;
    POSITION: absolute;
    TEXT-ALIGN: left;
    WIDTH: 116px
}
.mnItemActive
{
    BACKGROUND-COLOR: #a6c9ea;
    BORDER-BOTTOM: #ffffff solid 1px;
    BORDER-LEFT: #000000 solid 1px;
    BORDER-RIGHT: #ffffff solid 1px;
    BORDER-TOP: #000000 solid 1px;
    COLOR: blue;
    CURSOR: hand;
    FONT-FAMILY: Trebuchet MS;
    FONT-SIZE: 8pt;
    HEIGHT: 23px;
    POSITION: absolute;
    TEXT-ALIGN: left;
    WIDTH: 116px
}
.mnItemActiveHot
{
    BACKGROUND-COLOR: #8cbde7;
    BORDER-BOTTOM: #ffffff solid 1px;
    BORDER-LEFT: #000000 solid 1px;
    BORDER-RIGHT: #ffffff solid 1px;
    BORDER-TOP: #000000 solid 1px;
    COLOR: #fafcd2;
    CURSOR: hand;
    FONT-FAMILY: Trebuchet MS;
    FONT-SIZE: 8pt;
    HEIGHT: 23px;
    POSITION: absolute;
    TEXT-ALIGN: left;
    WIDTH: 116px
}
.mnItemBlank
{
    BACKGROUND-COLOR: #bcdaf4;
    BORDER-BOTTOM: #307abf solid 0px;
    BORDER-LEFT: #307abf solid 0px;
    BORDER-RIGHT: #307abf solid 0px;
    BORDER-TOP: #307abf solid 0px;
    HEIGHT: 23px;
    POSITION: absolute;
    WIDTH: 116px
}
A.fav
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica;
    FONT-SIZE: 0.8em
}
.fav
{
    COLOR: white;
    FONT-FAMILY: Arial, Helvetica;
    FONT-SIZE: 0.8em
}
.tryTest
{
    BACKGROUND-COLOR: #8cbde7;
    BORDER-BOTTOM: #ffffff solid 0px;
    BORDER-LEFT: #000000 solid 0px;
    BORDER-RIGHT: #ffffff solid 0px;
    BORDER-TOP: #000000 solid 0px;
    COLOR: green;
    FONT-FAMILY: Trebuchet MS;
    FONT-SIZE: 8pt;
    HEIGHT: 6px;
    POSITION: absolute;
    WIDTH: 120px
}
